.table_list{
    margin-right: 200px;
    margin-left: 200px;
    background-color: #c9fff8;

}
.add_user_btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
padding-left: 100px;
}

.add_user_block{
    margin-left: 50px;
}